# Docker
db_data/

# WordPress Core & Uploads
/wp-admin
/wp-includes
/wp-*.php
/index.php
/xmlrpc.php
/wp-content/uploads
/wp-content/upgrade
/wp-content/plugins

# Theme Dependencies
/wp-content/themes/tailpress-theme/node_modules
/wp-content/themes/tailpress-theme/vendor
/wp-content/themes/tailpress-theme/public

# OS & IDE
.DS_Store
.idea/
.vscode/
